<div class="col-sm-8 strip__left">
  <div class="jumbotron intro-with-icon">
    <div class="page-icon">
      <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Questions' %>
      <span class="page-icon__label">Questions</span>
    </div>
    <h1 class="title--strip">Questions</h1>
    <p class="intro">We’re here as a reference point and resource to help you with your questions about new migrants.</p>
  </div>
</div>
<div class="col-sm-4">
  <%= render 'ask_your_own_question_panel' %>
</div>
