.related-box {
  @extend .clearfix;
  margin-bottom:$base-unit*3;
}

.favourite-box {
    margin-bottom:$base-unit*3;
    padding: $base-unit*2  0 $base-unit*4 $base-unit*2;
    .favourite-box__title {
      margin:0 0 20px;
    }
  }

.favourite-message {
  padding-left: 41px;
  float: left;
  padding-top: 6px;

}

.favourite {
  @extend .anim;
  background:$gray-lighter;
  float: left;
  text-align: center;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  padding: 7px 0 0;
  &.selected {
    background: $purple-dark;
    i {
      color:$white;
    }
  }
  i {
    @extend .anim;
    color:$gray-dark;
  }

}

.contributed-by {
  padding:$base-unit*2;
  float:left;
  width:100%;
}
.contributed-by__title, .contributed-by__name {
  color:white;
  margin:0;
}
.contributed-by__name {
  font-weight: normal;
}
.contributed-by__title {
  margin:0 0 10px;
}
.contributed-by__name {
  font-size:$font-size-small;
}
ul.contributed-by__list {
  margin:0;
  padding:0;
  li {
    margin: $base-unit*1 0 $base-unit*1;
    font-size:$font-size-small;
    list-style-type:none;

    p {
      margin:0;
      opacity: 0.8;
    }
  }

}
.content {
  @include media-query (md) {
    padding-right: 100px;
  }
}
