<%= content_for :title,'About' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">About</h1>
            <p class="intro">
              Factsheets, how-tos, tools, inspiring examples of good practice and an opportunity to ask questions and share answers in our growing community
            </p>
          </div>
        </div>
        <div class="col-sm-4 strip__about-this-site">
          <h3 class="title">About this site and how to use it</h3>
          <%= render 'layouts/embedded_video', video_url: 'https://www.youtube.com/embed/cRskjqpgSNs?rel=0' %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/topics' %>
  <%= render 'layouts/questions_strip' %>
</section>
