<%= content_for :title, 'About' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">About</h1>
            <p class="intro">Migrant.health has been developed by Doctors of the World UK (DotW UK), University of Sheffield and Yoomee, with funding from the Health Foundation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <h3>migrant.health</h3>

          <p>This website is an online tool for people working in primary care who want to learn about and discuss how to provide high quality care for migrant patients, particularly those who might be in more vulnerable circumstances.
          </p>

          <p>Launched in July 2018, it is a prototype; developed jointly by Doctors of the World and the University of Sheffield. We hope it proves useful and grows in the breadth of subjects it covers and the community becomes a great resource for finding answers to questions from experts on the ground.</p>

          <p>
          We hope it will be a useful resource for healthcare professionals working to support new migrant patients, as well as developing a community to ask and respond to colleagues.</p>

          <h3>Resources</h3>

          <p>The content for resourcs was developed from <a href="https://www.doctorsoftheworld.org.uk/">DOTW</a> UK’s online training, as well as drawing heavily on resources from expert organisations, in particular <a href="https://www.gov.uk/topic/health-protection/migrant-health-guide">Public Health England’s Migrant Health Guide</a>, and the World Health Organisation.</p>

          <h3>Supporters</h3>

          <p>This project was supported by the National Institute for Health Research's Collaborations for Leadership in <a href="https://www.clahrc-yh.nihr.ac.uk">Applied Health Research and Care Yorkshire and Humber (NIHR CLAHRC YH)</a>.</p>

          <p>The views expressed are those of the author(s), and not necessarily those of the NHS, the NIHR or the Department of Health and Social Care.</p>

          <h3>Licensing</h3>

          <p>The content of this project itself is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 license</a>, and the underlying source code used to format and display that content is licensed under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.</p>

          <h3>Feedback</h3>

          <p>This is a beta site, which means it's still under development. For that reason we <%=link_to "welcome general feedback, as well as specific feedback", feedback_path %> on bugs or potential improvements.</p>

          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
