<%= content_for :title, 'Accessibility' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">Accessibility</h1>
            <p class="intro">We want everyone who visits the migrant.health website to feel welcome and find the experience rewarding.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <p>Content coming soon.</p>

          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
