<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">migrant.health</h1>
            <br/>
            <p class="intro">
              A tool for everyone in UK primary healthcare working to support new migrant patients, and a community to ask and respond to colleagues.            </p>
          </div>
           <%= render 'layouts/search_widget', search_path: search_path %>
        </div>
        <div class="col-sm-4 strip__about-this-site">
          <h3 class="title">Watch the video</h3>
          <a class="venobox vbox-item video-wrapper" data-vbtype="video" data-autoplay="true" href="https://youtu.be/-I2asa5J27o">

            <%= image_tag 'video-placeholder.png', alt: 'Watch the video', class: 'video-wrapper' %>

          </a>

        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/topics' %>
  <%= render 'layouts/questions_strip' %>
</section>
