<%= content_for :title, 'House Rules' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">House rules</h1>
            <p class="intro"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <h2>Welcome to migrant.health!</h2>

          <p>migrant.health is an online tool for people working in primary care who want to learn about and discuss how to provide high quality care for migrant patients, particularly those who might be in more vulnerable circumstances.
          </p>

          <p>Launched in July 2018, it is a prototype; developed jointly by Doctors of the World and the University of Sheffield. We hope it proves useful and grows in the breadth of subjects it covers and the community becomes a great resource for finding answers to questions from experts on the ground.</p>

          <%= render "house_rules_text" %>

          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
