<%= content_for :title, 'House Rules' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">House rules</h1>
            <p class="intro"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <%= render "house_rules_text", locals: {class: "yy"} %>

          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
