<%= content_for :title, 'Privacy and cookies policy' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">Privacy and cookies policy</h1>
            <p class="intro"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <p>Last updated: 13 July 2018</p>

          <h3>1. Introduction and purpose of this policy</h3>

          <p>Welcome to the privacy and cookies policy for the migrant.health website at https://migrant.health/ (“Website”).</p>

          <p>Doctors of the World UK (“DOTW”) respects your privacy and is committed to protecting your personal information. This policy will inform you as to how we look after your personal information when you visit the Website, regardless of where you visit it from; and tell you about your privacy rights, and how the law protects you.</p>

          <p>When we refer to your “personal information” or “information” in this notice, we mean information collected or used by the Website that identifies you personally.</p>

          <h3>2. Who are we?</h3>

          <p>DOTW is a registered charity (charity number 1067406).</p>
          <p>We are the controller of your personal information, and as such are responsible to you for how we use it.</p>
          <p>We have appointed a data protection officer (“DPO”) who is responsible for overseeing questions in relation to this policy. If you have any questions about this policy, including any requests to exercise your legal rights, please contact the DPO using the details set out at the end of this policy.</p>

          <h3>3. How do we collect personal information from you?</h3>

          <p>We collect your information:</p>

          <p>(a) directly from you when you input it into our Website or otherwise send it to us, such as when you register to use the “Questions” section of the Website or email us;</p>

          <p>(b) from other users when they upload it to the Website, such as when they include personal information about you in their posts on the “Questions” section of the Website; and</p>

          <p>(c) through our use of cookies – please see the “Cookies” section below for more details.</p>

          <h3>4. For what purposes do we use your personal information?</h4>

          <p>We will only use your personal information when the law allows us to. Most commonly, we will use your personal information for the following purposes. For each purpose, DOTW is required to identify a legal basis for using your information from those prescribed by applicable data protection law. We have highlighted these in brackets below:</p>

          <p>(a) to meet our legal and statutory obligations, for example in relation to HMRC (to comply with our legal obligations);</p>
          <p>(b) to provide you with the services that you have signed up for or expect (to perform our contract with you);</p>
          <p>(c) to collect your feedback (to achieve our legitimate interests in ensuring we provide our services to you effectively); and</p>
          <p>(d) in the manner set out in the “Sharing your information with third parties” section of this policy.</p>

          <p>If you do not provide DOTW with the personal information required to perform our contract with you or comply with our legal or statutory obligations (flagged as such in the list above), we may not be able to provide those relevant services to you. If you consent to DOTW’s use of your personal information and this consent forms the legal basis of our processing of that personal information, you are entitled to withdraw it at any time (see the “Your rights and choices” section of this policy for more detail).</p>

          <h3>5. What information do we collect?</h3>

          <p>To carry out the actions listed above, we collect the following information about you:</p>

          <p>(a) on account registration – your name, email address, age, city and workplace (i.e. institution/company, title and role);</p>
          <p>(b) via cookies – information about your visit to the Website, including your device, browser and the way you use the Website; and</p>
          <p>(c) other – any other personal information that you or other users upload to the Website.</p>

          <p>From time to time, we may collect personal information from you in ways not described above. If this is the case, we will notify you before collecting the information and set out the relevant purpose for the collection.</p>

          <h3>6. Cookies</h3>

          <p>Our Website uses cookies to distinguish you from other users. This helps us to provide you with a good experience when you browse our Website and also allows us to improve our Website.</p>

          <p>A cookie is a small file of letters and numbers stored on your browser or the hard drive of your computer.
          The following cookies are used on our Website:</p>

          <p>(a) Strictly necessary cookies. These are cookies that we place on your browser/hard drive when you visit our Website, and that are required for our operation of the Website. They include cookies that enable you to log into secure areas of our Website, for example the “Questions” section.</p>

          <p>(b) Third party analytical/performance cookies. These are cookies that third parties (including, for example, providers of external services like web traffic analysis services) place on your browser/hard drive when you visit our Website, to allow us to recognise and count the number of visitors and see how visitors move around our Website when they are using it. This helps us to improve the way our Website works, for example, by ensuring that users are finding what they are looking for easily.</p>

          <h3>7. Sharing your information with third parties</h3>

          <p>We will only share your information:</p>

          <p>(a) with companies for the purpose of hosting the Website and providing our online services to you (to perform our contract with you)</p>
          <p>(b) to comply with the law or in the good faith belief that such action is necessary to conform to the requirements of law or to comply with a legal process served on us (to comply with our legal obligations); and<p>
          <p>(c) to protect or defend our rights (to achieve our legitimate interests in protecting DOTW against legal/commercial threats).</p>

          <h3>8.Your rights and choices</h3>

          <p>You have the following rights in relation to our processing of your personal information in certain circumstances:</p>

          <p>(a) to receive a copy of the information we hold on you;</p>

          <p>(b) to ask us to correct any errors in your personal information;</p>
          <p>(c) to request that we erase the data we have on you, including when exercising your right to object to processing (see below);</p>
          <p>(d) to ask us not to process your personal information;</p>
          <p>(e) to ask us to restrict the processing of your personal information;</p>
          <p>(f) to ask us to transfer your personal information to another party; and</p>
          <p>(g) to withdraw your consent where you have provided it for DOTW’s collection or use of your personal information for a specific purpose.</p>

          <p>To review any data we hold on you or to exercise any of your other rights as set out above, please contact us using the details set out at the end of this policy.</p>

          <h3>9. How long we will store your personal information for</h3>

          <p>We will keep your personal information for as long as necessary for the purposes for which we use it. We will use a number of criteria to determine the relevant retention period in each instance, including the purposes for which we use the information, its sensitivity, and relevant legal/regulatory requirements.</p>

          <h3>10. Changes to the policy</h3>

          <p>We reserve the right to change this policy from time to time. When we do, we will note the last update at the top of this policy.</p>

          <h3>Contact</h3>

          <p>Questions, comments and requests regarding this policy are welcomed and can be sent using any one of the following:</p>

          <p>Mail – Data Protection Officer, Doctors of the World,  29th Floor, One Canada Square, London E14 5AA</p>

          <p>Email – <a href="mailto:supporters@doctorsoftheworld.org.uk">supporters@doctorsoftheworld.org.uk</a></p>

          <p>Tel – + 44 (0)20 7167 5789</p>

          <p>You have the right to complain at any time to the Information Commissioner’s Office (“ICO”), the UK supervisory authority for data protection issues, using the details provided on its website (<a href="mailto:www.ico.org.uk">www.ico.org.uk</a>). You may alternatively make a complaint to the supervisory authority in your place of residence or the place in which the relevant infringement has taken place, if different from the ICO.</p>


          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
