<%= content_for :title, 'Terms of use' %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">Terms of use</h1>
            <p class="intro"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">

          <!-- Start content -->

          <p>Last updated: 13 July 2018</p>

          <h2>Overview</h2>

          <p>https://migrant.health/ (the “Website”) is a place for people working with and interested in providing care for new arrival populations in the UK. It is operated by Doctors of the World UK (“DOTW” or “We”).</p>

          <p>If you use or sign up to the Website, you must comply with these Terms.</p>

          <p>Although you must read these Terms in full, we think the most important points are:</p>

          <ul>
            <li>You must comply with our rules for acceptable use set out in the “<a href="#house-rules">House Rules</a>” section below when you post content to or otherwise interact with the Website (“House Rules”) – please help us keep this Website a respectful place for everyone.</li>
            <li>The Website has been co-developed with GPs and other primary care and health sector workers. It is based on a range of material, including scientific studies, professional guidance and practice-based trial and error. While we have provided links to other important material, it does not represent a “stand-alone” guide to practice and must not be relied on as such. We recommend that other, supplementary sources of professional and practical advice and guidance are sought in addition to the information provided here.</li>
            <li>Please contact us using safesurgeries@doctorsoftheworld.org.uk to report anything that breaks our House Rules.</li>
            <li>If you break our House Rules, we may remove you and/or your content from the Website immediately.</li>
            <li>We will only share the information you provide to us with other people or organisations in accordance with our <a href="/privacy-policy">Privacy and Cookies Policy</a>.</li>
          </ul>

          <h2>General</h2>

          <h3>Who we are</h3>

          <p>DOTW are registered in England and Wales under company number 3483008; and have our registered office and main trading address at 29th Floor, One Canada Square, London, E14 5AA. We are a registered charity (charity number 1067406).</p>

          <h3>About this Website</h3>

          <p>Our Website is an online tool that provides a self-moderating forum for discussion among people working with, or interested in, providing primary care services for people new to the UK, along with peer support and resources about good/emerging practice.</p>

          <h3>By using our Website you accept these Terms</h3>

          <p>By using or signing up to our Website, you confirm that you accept these Terms and that you agree to comply with them.
          Note that these Terms refer to our <a href="/privacy-policy">Privacy and Cookies Policy</a>, which also applies to your use of our Website.</p>

          <h3>We may make changes to these Terms or our Website</h3>

          <p>We may amend these Terms from time to time. Every time you wish to use our Website, please check these Terms to ensure you understand the terms that apply to your use at that time.</p>

          <p>We may also update and change our Website from time to time, and will try to give you reasonable notice of any major changes.</p>

          <h2>How you may use our website</h2>

          <h3>Our Website is only for users in the UK</h3>

          <p>Our Website is directed to people residing in the United Kingdom. Content may or may not be applicable to, appropriate for use or available in other locations, and we do not represent it will be.</p>

          <h3>Intellectual Property rights</h3>

          <p>We are the owner or the licensee of all intellectual property rights in our Website, and in the material published on it.  Those works are protected by copyright laws and treaties around the world. All such rights are reserved.</p>

          <p>The materials on this Website are made available to you under a Creative Commons Attribution-Non Commercial-No Derivatives 4.0 International Licence. Further details of this Creative Commons licence can be found here: <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">https://creativecommons.org/licenses/by-nc-nd/4.0/</a>. The terms of this Creative Commons licence will apply instead of these Terms where there are differences.</p>

          <p>Any content you upload to our Website will be considered non-confidential and non-proprietary. You retain all of your ownership rights in your content, but materials on this Website are made available to others under the above Creative Commons licence. If you do not wish your materials to be shared in this manner, then please do not upload to the Website.</p>

          <a name="house-rules"></a>
          <h3>House Rules</h3>

          <p>You may use our Website only for lawful purposes. Without prejudice to use restrictions specified elsewhere in these Terms, you must not:</p>

          <ul>
            <li>use our Website in any way that breaches any applicable local, national or international law or regulation or these Terms, or in any way that is unlawful, fraudulent or malicious, or has any unlawful, fraudulent or malicious purpose or effect;
            <li>infringe our intellectual property rights or those of any third party in relation to your use of the Website, including by the submission of any material (to the extent that such use is not licensed by these terms);
            <li>transmit any material that is defamatory, offensive, abusive, dismissive of people’s experiences working with migrants, or otherwise objectionable in relation to your use of the Website;
            <li>use our Website to transmit, or procure the sending of, any advertising or promotional material or any other form of similar solicitation; or
            <li>use our Website in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users.
          </ul>


          <h3>Consequences if you breach our House Rules</h3>

          <p>You warrant that your use of our Website complies with our House Rules, and you will be liable to us and indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we suffer as a result of your breach of warranty.</p>

          <p>We have the right to suspend or terminate access to our Website or remove any posting you make on our Website if, in our opinion, your user activity does not comply with our House Rules.</p>

          <p>We also have the right to disclose your identity to any third party who is claiming that your use of our Website constitutes a violation of their intellectual property rights or of their right to privacy; or to law enforcement authorities as we reasonably feel is necessary or as required by law.</p>

          <h2>Disclaimers</h2>

          <h3>Do not rely on information on this Website</h3>

          <p>The content on our Website is provided for general information only and, to the extent permitted by applicable law, we do not accept any responsibility for its content or use. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our Website.</p>

          <p>Although we make reasonable efforts to update the information on our Website, we make no representations, warranties or guarantees, whether express or implied, that the content on our Website is accurate, complete or up to date.</p>

          <h3>We are not responsible for websites we link to</h3>

          <p>Where our Website contains links to other sites and resources provided by third parties, these links are provided for your information only. Such links should not be interpreted as approval by us of those linked websites or information you may obtain from them.</p>

          <p>We have no control over the contents of those sites or resources.</p>

          <h3>User-generated content is not approved by us</h3>

          <p>This Website includes information and materials submitted by other users of the Website, particularly on the “Questions” section. This information and these materials have not been verified or approved by us, our partners or licensors. This information and these materials may not be backed up by scientific research and are not endorsed by us, our partners or licensors. The views expressed by other users on our Website do not represent our views or values.<p>

          <p>If you wish to complain about information and materials uploaded by other users please contact us on <a href="mailto:safesurgeries@doctorsoftheworld.org.uk">safesurgeries@doctorsoftheworld.org.uk</a>.<p>

          <h3>We are not responsible for viruses or back-up</h3>

          <p>We do not guarantee that our Website will be secure or free from bugs or viruses.<p>

          <p>You are responsible for configuring your information technology, computer programmes and platform to access our Website. You should use your own virus protection software.<p>

          <p>You are solely responsible for securing and backing up your content.</p>

          <h2>Liaility</h2>

          <h3>Ability to access or use our Website</h3>

          <p><i>We may suspend or withdraw our Website</i></p>

          <p>Our Website is made available free of charge.</p>

          <p>We do not guarantee that our Website, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our Website for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>

          <p>You are also responsible for ensuring that all persons who access our Website through your internet connection are aware of these Terms of use and other applicable terms and conditions, and that they comply with them.</p>

          <p><i>You must keep your account details safe</i></p>

          <p>If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>

          <p>We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these Terms.</p>

          <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at safesurgeries@doctorsoftheworld.org.uk.</p>

          <h3>Limitation of our liability for loss or damage suffered by you</h3>

          <p><i>Whether you use our Website for the purposes of your trade, business, craft or profession (“business user”) or not (“consumer”):</i></p>

          <p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes liability for death or personal injury caused by our negligence or the negligence of our employees, agents or subcontractors and for fraud or fraudulent misrepresentation.</p>

          <p><i>If you are a business user:</i></p>

          <p>To the extent permitted by law, we exclude all implied conditions, warranties, representations or other terms that may apply to our Website or any content on it.<p/>

          <p>We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>

          <ul>
            <li>use of, or inability to use, our Website; or</li>
            <li>use of or reliance on any content displayed or linked to on our Website.</li>
          </ul>

          <p>In particular, we will not be liable for:</p>

          <ul>
            <li>loss of profits, sales, business, or revenue;</li>
            <li>business interruption;</li>
            <li>loss of anticipated savings;</li>
            <li>loss of business opportunity, goodwill or reputation; or</li>
            <li>any indirect or consequential loss or damage.</li>
          </ul>

          <p><i>If you are a consumer user:</i></p>

          <p>Please note that we only provide our Website to you for your domestic and private use. You agree not to use our Website for any commercial or business purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.<p>

          <p>If defective digital content that we have supplied, damages a device or digital content belonging to you and this is caused by our failure to use reasonable care and skill, we will either repair the damage or pay you compensation. However, we will not be liable for damage arising from or caused by digital content we have supplied to the extent that damage would have been prevented by you following our advice to apply an update offered to you free of charge, or that damage was caused by you failing to correctly follow installation instructions or to have in place the minimum system requirements advised by us.</p>

          <h3>Which country's laws apply to any disputes?</h3>

          <p>If you are a business user, these Terms, their subject matter and their formation (and any non-contractual disputes or claims) are governed by English law. We both agree to the exclusive jurisdiction of the courts of England and Wales.</p>

          <p>If you are a consumer, please note that these Terms, their subject matter and their formation, are governed by English law. You and we both agree that the courts of England and Wales will have exclusive jurisdiction except that if you are a resident of Northern Ireland you may also bring proceedings in Northern Ireland, and if you are resident of Scotland, you may also bring proceedings in Scotland.</p>
          <!-- End content -->

        </div>
     </div>
   </div>
 </div>
</section>
