.progress {
  position: relative;
}

.progress-bar {
  min-width: 1%;
}

.progress span.percentage {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

.progress span.text {
  color: white;
  text-shadow: 1px 1px 1px black;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}
