.question-banner {
  color: $gray-dark;
  background:#fff5cf;
  border-radius:0;
  box-shadow:2px 2px 1px rgba(0,0,0,0.2);
  .close {
    margin:15px 15px 0 0;
  }
  .intro {
    margin:0 ;
    font-size:$font-size-large;
    @include media-query (sm) {
      padding: 20px 0 0 20px;
    }
  }
  .btn {
    margin:20px;
    text-align:center;
    float:left;
    @include media-query (xs-max) {
      width: 100%;
      margin: 20px 0 30px;
    }

  }
}
.how-it-works-icons {
  @include media-query (sm-max) {
    clear:both;
  }
}
.how-it-works {
  text-align:center;
  .icon {
    margin-top:10px;
  }
  p {
    font-size:$font-size-small;
    margin:10px 0;
  }
}
.how-it-works-title {
  @include media-query (sm-max) {
    text-align:center;
    clear:both;
  }
}
