<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--resources">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <%= render 'layouts/breadcrumb' %>
          <div class="jumbotron">
            <h1 class="title--strip">Edit Fact Sheet</h1>
            <p class="intro">Edit this fact sheet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <%= render 'form', resource: @fact_sheet %>
      </div>
    </div>
  </div>
</section>
