<section class="section" aria-label="Content">
  <div class="strip strip--brand-color">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div id="exTab2" class="panel panel-login">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li class="active col-sm-6 center"><a href="#1" data-toggle="tab">Login</a></li>
                <li class="col-sm-6 center"><a href="#2" data-toggle="tab">Register</a></li>
              </ul>
            </div><!-- panel heading -->
            <div class="tab-content panel-body">
              <%= render 'devise/sessions/login_panel', resource: resource, resource_name: resource_name %>
              <%= render 'devise/sessions/register_panel', resource: resource, resource_name: resource_name %>
            </div><!-- end Panel body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
