<div class="strip strip--brand-color strip--resources">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 strip__left">
        <%= render 'layouts/breadcrumb' %>
        <div class="jumbotron">
          <h1 class="title--strip"><%= display_resource_type(resource_type) %></h1>
          <p class="intro">Practical guidance about how to deal with specific problems</p>
        </div>
      </div>
    </div>
  </div>
</div>