<% if chunk.title %>
  <h2><%= chunk.title %></h2>
<% end %>

<% if chunk.intro %>
  <p><%= chunk.intro %></p>
<% end %>

<% chunk.content.split("\n").each do |para| %>
    <p><%= para %></p>
<% end %>

<% if chunk.after %>
  <p><%= chunk.after %></p>
<% end %>
