<li>
  <%= link_to uploaded_attachment.uploaded_file.url do %>
    <%= render 'layouts/icon_image', file_name: 'icon-document.svg', alt_text: 'Document' %>
    <h3><%= uploaded_attachment.title %></h3>
    <p class="metadata">migrant.health</p>
  <% end %>
</li>
