<ol class="breadcrumb">
  <% breadcrumbs(request).each do |crumb| %>
    <% unless crumb == breadcrumbs(request).last %>
      <li><%= link_to crumb[:title], crumb[:url] %></li>
    <% else %>
      <li class="active"><%= crumb[:title] %></li>
    <% end %>

  <% end %>
</ol>
