<ol class="breadcrumb">
  <% breadcrumbs(request).each do |crumb| %>
  <li class="<%= 'active' if crumb == breadcrumbs(request).last %>"><%= link_to crumb[:title], crumb[:url] %></li>
  <% end %>
</ol>
