<% if resource.errors.any? %>
  <div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3><%= pluralize(resource.errors.count, "error") %> stopped this <%= resource.type.to_s %> from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
