<div class="related-box related-resources">
  <h3 class="related-box__title">Related resources</h3>
  <ul class="listing related-nav">
    <li>
      <a class="list-icon list-icon--how-to" href="/health-foundation/resources/how-tos/recognising-and-responding-to-survivors-of-trauma-trafficking.html">
        <%= render 'layouts/icon_image', file_name: 'icon-how-to.png', alt_text: 'Link' %>
        <h3 class="listing__title">Recognising and responding to survivors of trauma, trafficking and exploitation</h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--tool" href="/health-foundation/resources/tools/hep-b-protocol-example.html">
        <%= render 'layouts/icon_image', file_name: 'icon-tool.png', alt_text: 'Tool' %>
        <h3 class="listing__title">Hep B protocol – example</h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="/health-foundation/resources/practice-examples/repeat-prescribing-pictures.html">
        <%= render 'layouts/icon_image', file_name: 'icon-practice-example.png', alt_text: 'Practice Example' %>
        <h3 class="listing__title">Repeat prescribing pictures</h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="/health-foundation/resources/practice-examples/in-house-interpreter.html">
        <%= render 'layouts/icon_image', file_name: 'icon-practice-example.png', alt_text: 'Practice Example' %>
        <h3 class="listing__title">Interpreter presence as standard</h3>
      </a>
    </li>
  </ul>
</div>