<div class="related-box related-fact-sheets">        
  <h3 class="related-box__title">Relevant topics</h3>
  <ul class="listing listing--topics">
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
        <p>Infectious diseases</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
        <p>Safeguarding</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
        <p>FGM</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
        <p>First appointment</p>
      </a>
    </li>
  </ul>
</div>
