<div class="related-box related-fact-sheets">
  <h3 class="related-box__title">Relevant topics</h3>
  <ul class="listing listing--topics">
    <% resource.topics.each do |topic| %>
    <li>
      <%= link_to topic_path(topic) do %>
        <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
        <%= topic %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
