       <div class="related-box related-fact-sheets">


          
  <h3 class="related-box__title">Relevant topics</h3>
  <ul class="listing listing--topics">
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

        <p>Infectious diseases</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

        <p>Safeguarding</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

        <p>FGM</p>
      </a>
    </li>
    <li>
      <a href="/health-foundation/topics/fgm.html">
        <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

        <p>First appointment</p>
      </a>
    </li>
  </ul>
</div>