   <div class="related-box related-resources">
  <h3 class="related-box__title">Related resources</h3>
  <ul class="listing related-nav">
    <li>
      <a class="list-icon list-icon--how-to" href="/health-foundation/resources/how-tos/recognising-and-responding-to-survivors-of-trauma-trafficking.html">
        <img src="/health-foundation/assets/img/icon-how-to.svg" aria-hidden="true" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-how-to.png'" credit="Created by Nirav Faraswami from the Noun Project" class="icon">

        <h3 class="listing__title">Recognising and responding to survivors of trauma, trafficking and exploitation</h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--tool" href="/health-foundation/resources/tools/hep-b-protocol-example.html">
        <img src="/health-foundation/assets/img/icon-tool.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-tool.png'" aria-hidden="true" credit="Created by Delwar Hossain from the Noun Project" class="icon">

        <h3 class="listing__title">
          Hep B protocol – example
        </h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="/health-foundation/resources/practice-examples/repeat-prescribing-pictures.html">
        <h3 class="listing__title">
          <img src="/health-foundation/assets/img/icon-practice-example.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-practice-example.png'" aria-hidden="true" credit="Created by il Capitano from the Noun Project" class="icon">

          Repeat prescribing pictures
        </h3>
      </a>
    </li>
    <li>
      <a class="list-icon list-icon--practice-example" href="/health-foundation/resources/practice-examples/in-house-interpreter.html">
        <img src="/health-foundation/assets/img/icon-practice-example.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-practice-example.png'" aria-hidden="true" credit="Created by il Capitano from the Noun Project" class="icon">

        <h3 class="listing__title">
          Interpreter presence as standard
        </h3>
      </a>
    </li>
  </ul>
</div>