<% if resource.becomes(Resource).find_related_topics.exists? %>
  <div class="related-box related-resources">
    <h3 class="related-box__title">Related resources</h3>
    <ul class="listing related-nav">
      <!-- cast as Resource to get tags working -->
      <% resource.becomes(Resource).find_related_topics.first(3).each do |related| %>
        <li>
          <%= link_to polymorphic_path(related), class: "list-icon list-icon--how-to" do %>
            <%= render 'layouts/icon_image', file_name: related.icon_file_name, alt_text: related.icon_alt_text %>
            <h3 class="listing__title"><%= related.title %></h3>
          <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
