<div class="strip strip--topics">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              Immigration status
            </a>
          </h3>
          <p class="tag-summary_desc">
            Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              Entitlements to Primary Care
            </a>
          </h3>
          <p class="tag-summary_desc">
            Explanation of entitlements of primary care in England.
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              Screening
            </a>
          </h3>
          <p class="tag-summary_desc">
            Screening considerations for new migrant patients
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              Trauma, trafficking, and victims of exploitation
            </a>
          </h3>
          <p class="tag-summary_desc">
            When and how to ask about difficult topics, and what to do with the answer
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              FGM
            </a>
          </h3>
          <p class="tag-summary_desc">
            Latest guidance on FGM
          </p>
        </div>
        <div class="tag-summary">
          <h3 class="tag-summary__title">
            <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
              Safeguarding
            </a>
          </h3>
          <p class="tag-summary_desc">
            Safeguarding issues particularly relevant to migrant patients
          </p>
        </div>

      </div><!-- /row -->
    </div><!-- /col-md-9 -->
    <div class="col-md-3">
      <a href="/health-foundation/topics/">View all topics</a>
    </div>
    </div>
  </div>
</div>
