<div class="strip strip--topics">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="topic-help">
          Browse by one of the top topics below, by the <a href="/topics">Topic A-Z</a> or <a href="/resources/countries">Country A-Z</a>.
        </p>
        <div class="row">

          <ul class="listing listing--large">
            <% Topic.featured.each do |topic| %>
              <div class="tag-summary">

                <li>
                  <%= link_to topic_path(topic) do %>
                  <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic' %>
                    <h3 class="listing__title"><%= topic.name %></h3>
                  <% end %>
                </li>

                </div>

            <% end %>
          </ul>


        </div><!-- /row -->
      </div><!-- /col-md-9 -->
    </div>
  </div>
</div>
