<div class="strip strip--topics">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <p class="topic-help">
          Browse by one of the top topics below, or <a href="/topics">view all topics</a>.
        </p>
        <div class="row">
          <% Topic.featured.each do |topic| %>
            <div class="tag-summary">
              <h3 class="tag-summary__title">
                <%= link_to topic.name, topic_path(topic), class: 'tag-summary__link' %>
              </h3>
              <p class="tag-summary_desc">
                <%= topic.description %>
              </p>
            </div>
          <% end %>
        </div><!-- /row -->
      </div><!-- /col-md-9 -->
      <div class="col-md-3">
        <div class="row">
        <%= link_to 'View all topics', topics_path %>
      </div>
      <div class="row">
        <%= link_to 'View all countries', resources_countries_path %>
      </div>
      </div>
    </div>
  </div>
</div>
