<div class="sg-body sg-container container">
<form>
    <div class="form-group">
  <div class="input-group ui-widget">
    <label>Topics</label>
    <input id="topics" size="50" class='form-control'>
  </div>
</div>
</form>
</div>
