<div class="row">
  <div class="ask-question-strip col-sm-12 clearfix">
    <div class="col-sm-6">
      <h2>What are people asking?</h2>
      <ul class="listing listing--questions">
        <% Question.order(:created_at).limit(6).each do |question| %>
          <%= render 'questions/question', question: question %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <%= render 'questions/ask_your_own_question_panel' %>
    </div>
  </div>
</div>
